*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text:#fff;
  --ligh:rgb(255, 217, 0);
  --dark:rgb(138, 138, 138);
}
.git_link {
  cursor: pointer;
  color: rgb(167, 167, 167);
}
.git_link:hover {
  color: rgb(24, 24, 24);
}

.stat > h6 {
  color: rgba(60, 110, 60, 0.712);
  padding-left: 1em;
}
.btn-view {
  border: none;
  cursor: pointer;
  padding: 0.7em;
  border-radius: 5px;
  color: rgba(96, 92, 99, 0.541);

}
.btn-view:hover {
  color: rgba(119, 73, 226, 0.671);
}

.preview {
  display: flex;
  padding-top: 1em;
  
}
 .preview .line {
   margin-left: 1em;
 }
.tell {
  color: var(--dark) !important;
  line-height: 2;
  text-align: center;
}
.wrap-card {
  display: flex;
  
}

a{
  color: #fff;
  text-decoration: none;
  
}
a:hover {
  color: var(--ligh);
  font-weight: bold;
}
h1 {
  position: absolute;
  top: 0.5em;
  padding-right: 2em;
  right: 1em;
  cursor: pointer;
  font-size: 35px;
}
  .african  {
    color: var(--dark);
  }
.card {
  color: rebeccapurple;
  padding: 2em ;
  border: 1px solid grey;
  max-width: 50%;
  margin-left: 1em;
  border-radius: 15px;
  border: 1px solid rgba(168, 168, 168, 0.596);
  box-shadow: 1px 4px 8px #cececec4;

}
.card-child {
  
}

.do {
  font-size: 15px;
  color: rebeccapurple;
  padding-top: 2em;
}
.talk {
 color: var(--dark);
 margin-top: 5rem;
 
}
.talk p {
  line-height: 1.5;
  margin-top: 1em;
  padding-bottom: 2em;
}
/* .img {
  align-self: center;
} */
.btn {
  cursor: pointer;
  outline: none;
  padding: 9px;
  border: none;
  color: white;
  background-color: rgb(116, 46, 185);
  border-radius: 5px;
  margin-top: 1em;
}
h4 {
  color: rebeccapurple;
  text-align: center;

}
.author {
  color: var(--dark);
  line-height: 1.8;
}
.empty {
  padding: 1px 3.5rem;
  background-color: var(--ligh);
  font-size: 2px;
  border-radius: 8px;
  text-align: center;
 
  
}
.entail {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 1em;
  
}
#github:hover {
  color: black;
}
#behance :hover{
  color: rgb(16, 85, 212);
}
#dribbble :hover{
  color: rgb(167, 11, 11);
}
#twitter :hover{
  color: rgb(60, 115, 218);
}
.entail li {
  margin-left: 1em;
  font-size: larger;
  color: var(--dark);
  cursor: pointer;

}
body {
  padding-left: 10em;
  padding-right: 10em;


}

/* top part */
header .top {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;


}
.sidebar {
  display: none;
  overflow: hidden;
}
.menu {
  display: none;
}
.nav ul {
    display: flex;
    list-style-type: none;
}
.nav ul li {
  padding-left: 2.5em;
  cursor: pointer;
  color: var(--dark);
  
}
.nav ul li:hover {
  color: rebeccapurple;
}

/* section part */
section {
  width: 100%;
  height: 100vh;
  display: flex;
  
}
section .intro {

  display: flex;
  align-items: center;
 
  
}
/* for mobile screen */
@media (max-width:720px) {
  .wrap-card {
    flex-wrap: wrap;
  }
  .card {
    margin-left: 0;
    margin-top: 1em;
    max-width: 100%;
  }
  .menu {
    display: block;
  }
  .nav {
    display: none;
  }

  /* side bar  */
  .sidebar {
    display: block;
  }
  .sidebar .child {
    background-color: rgba(33, 12, 54, 0.747);
    height: 100vh;
    width: 100%;
    color: var(--text);
    display: flex;
    align-items: center;
    position: absolute;
  
    
    
  }
  .sidebar .child ul {
    padding-left: 4em;
    list-style-type: none;
    position: absolute;
    left: 4em;


  }
  .sidebar .child ul  li {
    margin-bottom: 3em;
    
    
  }

  .prof {
    width: 45%;
    border-radius: 50%;
  }
  .bio {
    padding-top: 2.5em;
  }
  body {
    padding: 0 3em;



  }
  section .intro {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2em;
  }

}

@media screen and (min-width:720px ) and (max-width:1000px) {

  body {

    padding-left: 3em;
    padding-right: 3em;
    width: 100%;
   
  }
  img {
    width: 70%;
    height: 70%;
    border-radius: 50%;
  }

}


@media (min-width:1200px) {
  .prof {
    width: 60%;
    height: 60%;
    border-radius: 10%;
   
  }

    
}